[Unit]
Description=FTCScout Server
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/home/ubuntu/dev/ftc-scout/startserver.sh
WorkingDirectory=/home/ubuntu/dev/ftc-scout
User=ubuntu
Environment=

[Install]
WantedBy=multi-user.target